* {
  box-sizing: border-box;
  margin: 0;
}

#demo {
  align-items: center;
  color: #193251;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  justify-content: center;
}

.body {
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: verdana;
  line-height: 1.5;
}

.header {
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: #fe5a35;
  text-align: center;
}

.header__logo {
  background-color: white;
  padding: 0.5rem;
  width: 8rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.header__apptitle {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

.header__description {
  color: #193251;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
