main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 25rem;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.studgallery {
  display: grid;
  flex-flow: column wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  border: 0.2rem solid #193251;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2.5rem;
}

.studgallery__image {
  display: cover;
  height: 4.5em;
  width: 5em;
  border-radius: 1rem;
  cursor: pointer;
  transition: opacity 2s ease-in;
}

.studgallery__image:hover {
  height: 4.5em;
  width: 5em;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 0%;
}

.studgallery__image--inactive {
  height: 4.5em;
  width: 5em;
  border-radius: 1rem;
  opacity: 50%;
}

.studgallery__image--inactive .studgallery__text {
  display: none;
}

.studgallery__text {
  align-self: center;
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 1rem;
  padding: 0rem 0.1rem;
  color: #fe5a35;
  line-height: 1.1;
}

.studgallery__text--inactive {
  display: none;
}

.bejan__image {
  grid-column: 1;
  grid-row: 1;
}

.bejan__text {
  grid-column: 1;
  grid-row: 1;
}

.borjan__image {
  grid-column: 2;
  grid-row: 1;
}

.borjan__text {
  grid-column: 2;
  grid-row: 1;
}

.farah__image {
  grid-column: 3;
  grid-row: 1;
}

.farah__text {
  grid-column: 3;
  grid-row: 1;
}

.felix__image {
  grid-column: 4;
  grid-row: 1;
}

.felix__text {
  grid-column: 4;
  grid-row: 1;
}

.florian__image {
  grid-column: 1;
  grid-row: 2;
}

.florian__text {
  grid-column: 1;
  grid-row: 2;
}

.gabriele__image {
  grid-column: 2;
  grid-row: 2;
}

.gabriele__text {
  grid-column: 2;
  grid-row: 2;
}

.helena__image {
  grid-column: 3;
  grid-row: 2;
}

.helena__text {
  grid-column: 3;
  grid-row: 2;
}
.jens__image {
  grid-column: 4;
  grid-row: 2;
}

.jens__text {
  grid-column: 4;
  grid-row: 2;
}

.lukas__image {
  grid-column: 1;
  grid-row: 3;
}

.lukas__text {
  grid-column: 1;
  grid-row: 3;
}

.matthias__image {
  grid-column: 2;
  grid-row: 3;
}

.matthias__text {
  grid-column: 2;
  grid-row: 3;
}

.oliverg__image {
  grid-column: 3;
  grid-row: 3;
}

.oliverg__text {
  grid-column: 3;
  grid-row: 3;
}

.olivern__image {
  grid-column: 4;
  grid-row: 3;
}

.olivern__text {
  grid-column: 4;
  grid-row: 3;
}

.sabrina__image {
  grid-column: 1;
  grid-row: 4;
}

.sabrina__text {
  grid-column: 1;
  grid-row: 4;
}

.sacid__image {
  grid-column: 2;
  grid-row: 4;
}

.sacid__text {
  grid-column: 2;
  grid-row: 4;
}

.sharine__image {
  grid-column: 3;
  grid-row: 4;
}

.sharine__text {
  grid-column: 3;
  grid-row: 4;
}

.vika__image {
  grid-column: 4;
  grid-row: 4;
}

.vika__text {
  grid-column: 4;
  grid-row: 4;
}

.pageviews {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.pageviews__box {
  border: 0.2rem solid #193251;
  border-radius: 1rem;
  padding: 0.1rem 0.1rem;
  margin: 1rem 0rem 2rem 0rem;
}

.pageviews__content {
  font-weight: bold;
  font-size: 2rem;
  color: #fe5a35;
}

.thanks__box {
  display: grid;
  flex-flow: column nowrap;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  border: 0.2rem solid #193251;
  border-radius: 2rem;
  padding: 1rem;
  justify-items: center;
  margin-bottom: 1rem;
}

.thanks__boximage {
  display: cover;
  height: 4.5em;
  width: 5em;
  border-radius: 1rem;
  cursor: pointer;
  transition: opacity 2s ease-in;
}

.thanks__boximage:hover {
  height: 4.5em;
  width: 5em;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 0%;
}

.thanks__boximage--inactive {
  height: 4.5em;
  width: 5em;
  border-radius: 1rem;
  opacity: 50%;
}

.thanks__boximage--inactive .studgallery__text {
  display: none;
}

.thanks__boxtext {
  align-self: center;
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 1rem;
  padding: 0rem 3rem;
  color: #fe5a35;
  line-height: 1.1;
}

.thanks__boxtext--inactive {
  display: none;
}

.thomas__image {
  grid-column: 1;
  grid-row: 1;
}

.thomas__text {
  grid-column: 1;
  grid-row: 1;
}

.miriam__image {
  grid-column: 2;
  grid-row: 1;
}

.miriam__text {
  grid-column: 2;
  grid-row: 1;
}
